@import "_constants";
@import "_mixins";

.container-component{
    width: 100%;
    text-align: center;
   
    h1{
        margin:0;
        margin-bottom: 10px;
        padding:10px;
        @include MainTitleStyle()
    }

}

.form-input{
    width:400px;
}

.valid-lti-span{
    color:$valid
}